div {
	height: 300px;
	background-color: #eaebed;
	margin-width: auto;
	
}

p {
	color: #bbc103;
	text-align: center;
	font-size: 4em;
	padding-top: 110px;
	font-family: Consolas, Serif;
	font-weight: bold;
	
}

width: 400px;
	
	

	font-size: 3em;
	font-color: grey;
	border: 1px dotted white;